html, body {
    height: 100%; 
    margin: 0; 
}
body {
    background-image: url(../images/background7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
    margin: 0;
} 

.nav-link:hover {     
    color: #ff5733; 
    background-color: rgba(255, 196, 0, 0.2);
    transform: scale(1.3);
}
.navbar-nav .nav-item {
    margin-left: 50px; 
}

.nav-link {
    transition: transform 0.3s ease; 
    display: flex;
    justify-content: space-between;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.titulo h1 {
    font-size: 50px;
}
.carousel{
    margin-bottom: 80px;
}
.carousel-item img {
    height: 400px;
    width: 800px;
}

.scale-effect {
    display:inline-block !important;
    transition: transform 0.3s;
}

.scale-effect:hover {
    color:rgba(255, 217, 0, 0.815);
    transform: scale(1.3);
}

footer{
    padding: 5px;
    border-radius: 15px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

footer p {
    background-color: rgba(207, 150, 45, 0.4);
    font-size: 20px; 
    font-weight: bold;
    color: black; 
    text-align: center; 
    font-family: monospace; 
    font-style: italic; 
    border: 1px solid rgb(255, 193, 7);
    display: inline-block; 
    padding: 5px; 
    border-radius: 10px;
}
